In [12]:
import pandas as pd

In [23]:
data = pd.read_csv("1091402.txt", delim_whitespace = True, na_values = ["-9999"],skiprows=[1])

In [40]:
data.columns

Index(['STATION', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'DATE', 'PRCP', 'TAVG',
       'TMAX', 'TMIN'],
      dtype='object')

In [37]:
len(data)

23716

In [34]:
tavg_nodata_count = len(data[data['TAVG'].isna()])

In [36]:
print(f'Number of no-data values in column "TAVG": {tavg_nodata_count}')

Number of no-data values in column "TAVG": 3308

In [38]:
tmin_nodata_count = len(data[data['TMIN'].isna()])

In [39]:
print(f'Number of no-data values in column "TMIN": {tmin_nodata_count}')

Number of no-data values in column "TMIN": 365

In [45]:
day_count = len(data)

In [46]:
print(f'Number of days: {day_count}')

Number of days: 23716

In [53]:
data.sort_values(by="DATE", ascending = True).head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0

In [54]:
first_obs = data['DATE'].min()

In [55]:
print(f'Date of the first observation: {first_obs}')

Date of the first observation: 19520101

In [56]:
last_obs = data ['DATE'].max()

In [57]:
print(f'Date of the last observation: {last_obs}')

Date of the last observation: 20171004

In [58]:
avg_temp = data ['TAVG'].mean()

In [59]:
print(f'Average temperature (F) for the whole dataset: {round(avg_temp, 2)}')

Average temperature (F) for the whole dataset: 41.32

In [65]:
data["DATE"] = data["DATE"].astype(str)
data["YEAR_MONTH"] = data["DATE"].str.slice(start=0, stop = 6)

In [73]:
data["MONTH"] = data["DATE"].str.slice(start=4,stop=6)

In [74]:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,YEAR_MONTH,MONTH
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0,195201,01
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0,195201,01
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN,195201,01
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0,195201,01
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0,195201,01

In [108]:
summer69 = data[(data["DATE"] >= "19690501") &(data["DATE"] <= "19690831") ]

In [113]:
avg_temp_1969 = summer69['TMAX'].mean()

In [114]:
print(f'Average temperature (F) for the Summer of 69: {round(avg_temp_1969, 2)}')

Average temperature (F) for the Summer of 69: 67.82